name: pkgdown

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::pkgdown
          needs: website

      - name: Build site
        run: pkgdown::build_site(new_process = FALSE, install = TRUE)
        shell: Rscript {0}

      - name: Disable Jekyll for GitHub Pages
        run: touch site/.nojekyll

      - name: Deploy to gh-pages
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: site
          target-folder: pkgdown
          clean: true
          token: ${{ secrets.GITHUB_TOKEN }}
